!!! 5
html(leng="en")
head
	block head
		title Trackers
		link(rel='stylesheet', href='/styles/bootstrap/bootstrap.css')
		link(rel='stylesheet', href='/styles/bootstrap/bootstrap-responsive.css')
		link(rel='stylesheet', href='/styles/bootstrap/bootstrap-override.css')
		link(rel="stylesheet", href="/styles/south-street/jquery-ui-1.8.23.custom.css")
		link(rel="stylesheet", href="/styles/common.css")
body
	div(class='span6')
		h1 Trackers
		block content
		
block footer
	script(type='text/javascript', src='/scripts/lib/jquery-1.7.2.min.js')
	script(type='text/javascript', src='/scripts/lib/jquery-ui-1.8.22.custom.min.js')
	script(type='text/javascript', src='/scripts/lib/bootstrap-alert.js')
	script(type='text/javascript', src='/scripts/lib/bootstrap-button.js')
	script(type='text/javascript', src='/scripts/lib/bootstrap-carousel.js')
	script(type='text/javascript', src='/scripts/lib/bootstrap-collapse.js')
	script(type='text/javascript', src='/scripts/lib/bootstrap-dropdown.js')
	script(type='text/javascript', src='/scripts/lib/bootstrap-modal.js')
	
	script(type='text/javascript', src='/scripts/lib/bootstrap-scrollspy.js')
	script(type='text/javascript', src='/scripts/lib/bootstrap-tab.js')
	script(type='text/javascript', src='/scripts/lib/bootstrap-tooltip.js')
	script(type='text/javascript', src='/scripts/lib/bootstrap-transition.js')
	script(type='text/javascript', src='/scripts/lib/bootstrap-typeahead.js')
	
	script(type="text/javascript", src="/scripts/lib/knockout-2.1.0.debug.js")
	script(type="text/javascript", src="/scripts/lib/knockout.mapping.js")
	script(src="/socket.io/socket.io.js")
	script(src="/lib/flotr2/flotr2.min.js")
	
	script(type="text/javascript", src="/scripts/src/viewModels.js")
	script(type="text/javascript", src="/scripts/src/ajaxHelpers.js")
	script(type="text/javascript", src="/scripts/src/common.js")