extends layout

block content

	#facebook-login
	div(id="fb-root")
	script
		// Additional JS functions here
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '376509982436950', // App ID
				channelUrl : 'http://nodeandwebsockets.herokuapp.com/channel.html', // Channel File
				status     : true, // check login status
				cookie     : true, // enable cookies to allow the server to access the session
				xfbml      : true,  // parse XFBML
				oauth		: true
			});
		};

		// Load the SDK's source Asynchronously
		(function(d, debug){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
			ref.parentNode.insertBefore(js, ref);
		}(document, /*debug*/ false));

	script(type="text/javascript", src="/scripts/src/facebook.js")
	div(class="fb-login-button", data-show-faces="false", data-width="400", data-max-rows="1")
		a(id="fbLogin")
			img(src="/images/facebooklogin.jpg")

block append footer
	script(type="text/javascript", src="/scripts/src/facebookConnect.js")