extends layout

block content

	#facebook-login
	//- a(href='/auth/facebook', style='border: 0px') 
	div(id="fb-root")
	script(type="text/javascript", src="/scripts/src/facebook.js")
	div(class="fb-login-button", data-show-faces="false", data-width="400", data-max-rows="1")
		img(src="/images/facebooklogin.jpg")