extends layout

block append head
		
block content
	h3 Current 24 hours

	div(class="alert alert-info", id="wrpRunningAvg") Average:
		div(class="rightColumn", id="wrpAverage")

	ol(data-bind="foreach: trackers", class="ui-selectable", id="olTrackers")
		//- li(class="ui-widget-content")
		li
			div(data-bind="attr: {id: 'slider-range' + trackerId}")
			div(data-bind="attr: {id: 'txtMinutes' + trackerId}, text:label", class="sliderValue")
	
	div
		button(id="btnTrackAnother", class="btn btn-primary") Track Activity
		
	div(id="wrpTrackAnother", title="Track Activity")
		div(id="slider-range")
		div(id="txtMinutes", class="sliderValue")
		label(for="txtActivity") Activity:
			input(type="text", id="txtActivity", class="rightColumn")
		div(class="divider")
		label(for="ddlEmotion") Emotional State: 
			select(id="ddlEmotion", data-bind="options: emotionValues, optionsText: 'name', optionsValue: 'value'", class="rightColumn")
			div(class="wrpButton")
				button(id="btnTrackNew", class="btn btn-primary") Start tracking