extends layout

block content
	h3 Current 24 hours
	
	div(id="slider-range")
	
	input(type="text", id="minutes", style="border:0; color:#f6931f; font-weight:bold;")
	
	div
		button(id="btnTrackAnother") Track Another
		
	div(id="wrpTrackAnother", title="Track Another")
		dialog