extends layout

block content
	h3 Current 24 hours

	ol(data-bind="foreach: trackers", class="ui-selectable", id="olTrackers")
		//- li(class="ui-widget-content")
		li
			div(data-bind="attr: {id: 'slider-range' + trackerId}")
			div(data-bind="attr: {id: 'txtMinutes' + trackerId}", class="sliderValue")
	
	div
		button(id="btnTrackAnother", class="btn btn-primary") Track Activity
		
	div(id="wrpTrackAnother", title="Track Activity")
		div(id="slider-range")
		div(id="txtMinutes", class="sliderValue")
		label(for="txtActivity") Activity:
			input(type="text", id="txtActivity", style="float:right")
			div(class="wrpButton")
				button(id="btnTrackNew", class="btn btn-primary") Start tracking