.sliderValue{
	border:0; color:#f6931f; font-weight:normal;height:40px;padding-top: 10px;	
}

.ui-selectable .ui-selecting { background: #FECA40; }
.ui-selectable .ui-selected { background: #F39814; color: white; }
.ui-selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; clear:both;padding-top:10px}
.ui-selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; }

.ui-slider-horizontal {height: .4em;}
.ui-slider-horizontal .ui-slider-handle {position: absolute;z-index: 2;width: 0.9em;height: 0.9em;cursor: default;}

.wrpButton{padding-top: 20px;}

.divider{height:20px;}
.rightColumn{float:right;}

.ui-state-default, .ui-widget-content .ui-state-happy {border: 1px solid darkgreen;background: green url(images/ui-bg_highlight-hard_15_459e00_1x100.png) 50% 50% repeat-x;font-weight: bold;color: white;}
.ui-state-default, .ui-widget-content .ui-state-angry {border: 1px solid darkred;background: red url(images/ui-bg_highlight-hard_15_459e00_1x100.png) 50% 50% repeat-x;font-weight: bold;color: white;}\
.ui-state-default, .ui-widget-content .ui-state-high_stress {border: 1px solid darkred;background: red url(images/ui-bg_highlight-hard_15_459e00_1x100.png) 50% 50% repeat-x;font-weight: bold;color: white;}
.ui-state-default, .ui-widget-content .ui-state-sad {border: 1px solid darkorange;background: orange url(images/ui-bg_highlight-hard_15_459e00_1x100.png) 50% 50% repeat-x;font-weight: bold;color: white;}
.ui-state-default, .ui-widget-content .ui-state-no_feeling {border: 1px solid darkbrown;background: brown url(images/ui-bg_highlight-hard_15_459e00_1x100.png) 50% 50% repeat-x;font-weight: bold;color: white;}
.ui-state-default, .ui-widget-content .ui-state-love {border: 1px solid darkgreen;background: green url(images/ui-bg_highlight-hard_15_459e00_1x100.png) 50% 50% repeat-x;font-weight: bold;color: white;}